@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
:root{
    --text: #696969;
    --black: #333333;

    --hover-opacity: 0.9;
}
#TinyBackground{
    background-color: rgba(0,0,0,0);
    height: 100vh;
    left: 0;
    max-height: 0;
    position: fixed;
    top: 0;
    transition: background-color 300ms ease-in-out,max-height 300ms linear;
    width: 100%;
    z-index: 99998;
}
#TinyBackground.On{
    background-color: transparent;
    max-height: 100vh;
    transition: background-color 300ms ease-in-out,max-height 300ms linear;
}
#TinyBackground div{
    box-sizing: border-box;
}
.wrap-tinymodal{
    align-items: flex-start;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    max-height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    transition: max-height 300ms linear;
}
.wrap-tinymodal.On{
    max-height: 100vh;
}
#TinyModalDialog{
    align-items: center;
    background-color: white;
    border: solid 1px rgba(0,0,0,.05);
    border-radius: 0.25rem;
    box-shadow: 0 2px 6px 4px rgba(0,0,0,0.0375);
    box-sizing: border-box;
    color: var(--text);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    opacity: 0.5;
    padding: 0 1rem 1rem 1rem;
    width: 35rem;
    text-align: center;
    transition: transform 300ms ease-in-out,opacity 100ms linear,height 100ms ease;
}
#TinyModalDialog.On{
    opacity: 1;
    transform: translateY(2rem);
    /* transition: transform 600ms ease-in-out,opacity 300ms linear; */
    animation: down 300ms ease 100ms;
}
#TinyModalDialog div{
    box-sizing: border-box;
    width: 100%;
}
.tmd-title{
    font-size: 2rem;
    padding-top: 1rem;
}
#TinyMessage{
    color: var(--black);
    font-size: 1rem;
    padding: 1rem 0;
}
#TinyButtons{
    align-items: flex-end;
    display: flex;
    height: 2.5rem;
    justify-content: flex-end;
}
#TinyButtons button{
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    border-radius: 0.125rem;
    cursor: pointer;
    height: 2rem;
    margin-left: 0.5rem;
    padding: 0 1.5rem;
    transition: background-color 100ms linear;
}
#TinyButtons button:hover{
    transition: background-color 100ms linear;
}
#TinyButtons button.close{
    background-color: #f1f2f3;
    color: var(--text);
}
#TinyButtons button.close:hover{
    background-color: whitesmoke;
}
#TinyButtons button:last-child{
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.1);
}
#TinyButtons button.delete{
    background-color: rgba(201, 3, 3,1);
    color: white;
}
#TinyButtons button.success{
    background-color: rgb(22, 150, 235);
    color: white;
}
#TinyImageContainer{
    align-items: center;
    display: flex;
    height: 6rem;
    justify-content: center;
    padding-top: 1rem;
    width: 100%;
}
#TinyModalDialog #TinyIcon{
    align-items: center;
    border-radius: 50%;
    color: transparent;
    display: inline-flex;
    height: 5rem;
    justify-content: center;
    position: relative;
    width: 5rem;
}
#TinyModalDialog #TinyIcon.icon{
    animation: zoom 1.5s ease-in-out 300ms;
}
#TinyModalDialog #TinyIcon.loading{
    animation: spin 2s linear infinite;
    border: solid 3px #f1f1f1;
    border-right:solid 3px rgb(22, 150, 235);
}
#TinyModalDialog #TinyIcon img{
    height: 100%;
}
#TinyModalDialog #TinyIcon.loading img{
    display: none;
}
.tinySvg{
    height: 3rem;
    width: 3rem;
}


@keyframes down{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(3rem);
    }
    100%{
        transform: translateY(2rem);
    }
}
@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes zoom{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5,1.5);
    }
    100%{
        transform: scale(1);
    }
}