$gray: #dddddd;
$thumb-color: #ed6a0a;
.range-input{
    appearance: none;
    overflow: hidden;
    position: absolute;
    width: 100%;
    
    &::-webkit-slider-runnable-track{
        appearance: none;
    }
    &::-webkit-slider-thumb{
        appearance: none;
        background-color: $thumb-color;
        border-radius: 0.25rem;
        height: 0.5rem;
        margin-top: -0.125rem;
        width: 1rem;
    }

    &::-moz-range-track {
		background: $gray;
		border-radius: 0.125rem;
	}
    &::-moz-range-thumb{
        background-color: $thumb-color;
        border:none;
        height: 0.5rem;
        cursor: pointer;
    }
}