.pointer{
    border-radius: 50%;
    display: inline-flex;
    background-color: white;
    cursor: pointer;
    height: 0.375rem;
    margin: 0 0.25rem;
    position: relative;
    width: 0.375rem;
    transition-property: all;
    transition-duration: 100ms;
}
.pointer.current{
    background-color: #ee0809;
}
.pointer::before{
    content: '';
    box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    transition-property: all;
    transition-duration: 100ms;
}
.pointer:hover::before{
    box-shadow: 0 0 0 4px rgba(0,0,0,0.2);
}
.slide{
    transition-property: margin-left;
}