// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

// Variables
@import 'variables';

// Tailwind
@import '~tailwindcss/dist/tailwind.css';
@import './checkout.scss';

//@import './range.scss';

//$blue-custom: rgb(20, 30, 122);
$blue-custom: #2B4597;
$blue-custom-light: #2B57E2;
$primary: #F83201;
$extra:#EC8800; 
:root{
    --primary: #F83201;
    --secondary: #64666A;
    --carbon: #333333;
    --dark: #100f10;
    --dark-semi: #1b1b1b;
    --dark-light : #242424;
    --yellow: #ffcc03;
    --extra: #EC8800;
}

*{
    font-family: 'Nanum Gothic', sans-serif;
}
body{
    //background-color: #cfd9e0;
    background-color: rgba(243, 244, 246, 1);
}

input:focus,input:active,
select:focus,select:active,
button:focus,button:active,
div:focus,div:active{
    outline: none;
    box-shadow: none;
}
a.text-blue-custom,.text-blue-custom{
    color: $blue-custom;
    &:hover{
        color: $blue-custom-light
    }
}
a.text-blue-custom-light,.text-blue-custom-light{
    color: $blue-custom-light;
}
h1,h2,h3,h4,h5,h6{
    color: var(--dark-light);
}
small{
    color: var(--secondary);
    font-size: 0.75rem;
}
button,button:focus,button:active,a{
    -webkit-tap-highlight-color: transparent; /*Super important*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button.btn, a.btn{
    align-items: center;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.1);
    display: flex;
    justify-content: center;
    position: relative;
    transition: box-shadow 1500ms ease;
}
button.btn:active, a.btn:active{
    box-shadow: 0 0 0 6px rgba(0,0,0,.1);
    transition: box-shadow 10ms ease;  
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

select.minimal {
    appearance: none;
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 10px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  
select.minimal:focus {
    background-image:
        linear-gradient(45deg, var(--primary) 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, var(--primary) 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 10px) 1em,
        calc(100% - 15px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: var(--primary);
    outline: 0;
}
  
  
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

nav {
    display: block;
    padding-left: 1.5rem;
    & ul{
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: flex-start;
    }
    & li{
        align-items: center;
        display: flex;
        font-size: 0.875rem;
        height: 100%;
        padding: 0 0.5rem;
        
        & a{
            border-bottom: solid 4px transparent;
            color: rgba(249, 250, 251, 1);
            &:hover, &.current{
                border-bottom-color: rgba(0,0,0,.2);
            }
        }
    }
}

.logo{
    background-image: url(../images/macep_logotipo.svg);
    background-repeat: no-repeat;
    background-size: auto 1.75rem;
}

.max-w-design{
    max-width: 85.375rem;
}
.h-18{
    height: 4.5rem;
}
.h-84{
    height: 21rem;
}
.h-88{
    height: 22rem;
}
.h-108{
    height: 27rem;
}
.h-120{
    height: 30rem;
}
.max-h-26{
    max-height: 6.5rem;
}
.w-18{
    width: 4.5rem;
}
.w-108{
    width: 27rem;
}
.max-w-18{
    max-width: 4.5rem;
}
.btn-primary{
    background-color: #2253CC;
    color: white;
    &:hover{
        color: white;
        background-color: #0237BB;
    }
}

.border-primary{
    border-color: $primary;
}

.bg-left-center{
    background-position: left center;
}
.bg-primary{
    background-color: $primary;
}
.bg-secondary{
    background-color: #64666A;
}
.bg-yellow{
    background-color: var(--yellow);
}
.bg-dark-100{
    background-color: var(--dark-light);
}
.text-primary{
    color: var(--primary);
}
.text-secondary{
    color: #64666A;
}
.text-carbon{
    color: var(--carbon);
}
.text-dark-100{
    color: var(--dark-light);
}
.text-dark-500{
    color: var(--dark-semi);
}
.text-dark-900{
    color: var(--dark);
}
.text-yellow{
    color: var(--yellow);
}

.flex-center{
    align-items: center;
    justify-content: center;
}
.flex-start{
    align-items: center;
    justify-content: flex-start;
}
.flex-start-top{
    align-items: flex-start;
    justify-content: flex-start;
}
.flex-start-bottom{
    align-items: flex-end;
    justify-content: flex-start;
}
.flex-end{
    align-items: center;
    justify-content: flex-end;
}
.flex-end-bottom{
    align-items: flex-end;
    justify-content: flex-end;
}
.z-60{
    z-index: 60;
}
.product{
    transition: margin-left 300ms ease;
}
.h-full-outheader{
    height: calc(100% - 4rem);
}

@media(min-width: 1024px){
    input.q{
        background-image: url(../images/search.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 0.5rem) center;
        background-size: 1rem;
        &:focus{
            box-shadow: 0 2px 3px 0px rgba(0,0,0,.1) ;
        }
    }
    .lg\:flex-center-top{
        align-items: flex-start;
        justify-content: center;
    }
    .lg\:flex-start{
        align-items: center;
        justify-content: flex-start;
    }
    .lg\:text-secondary{
        color: #64666A;
    }
    .lg\:text-white{
        color: #ffffff;;
    }
    .lg\:h-22{
        height: 5.5rem;
    }
    .lg\:h-84{
        height: 21rem;
    }
    .lg\:h-88{
        height: 22rem;
    }
    .lg\:w-22{
        width: 5.5rem;
    }
    .h-full-outheader{
        height: calc(100% - 5rem);
    }
}
@media (min-width: 768px){
    .md\:h-96 {
        height: 24rem;
    }
    .md\:h-88{
        height: 22rem;
    }
    .md\:h-84{
        height: 21rem;
    }
    .md\:h-80 {
        height: 20rem;
    }
    .md\:h-72 {
        height: 18rem;
    }
    .md\:h-w-18{
        max-width: 4.5rem;
    }

    .md\:max-w-16{
        max-width: 4rem;
    }
    .md\:max-w-18{
        max-width: 4.5rem;
    }
    .md\:max-w-18{
        max-width: 6.5rem;
    }
}