.address {
    input[type=radio] {
        display: none;
    }
    input[type=radio]:checked + label { 
        background-color: rgba(229, 231, 235);
    }
    label:hover {
        span{
            color: white;
            font-style: bold;
        }
        h3{
            color: white;
        }
    }
}