$track-color: #dddddd;
$thumb-color: #ed6a0a;

$thumb-radius: 8px;
$thumb-height: 6px;
$thumb-width: 30px;
$thumb-shadow-size: 1px;
$thumb-shadow-blur: 1px;
$thumb-shadow-color: #111;
$thumb-border-width: 6px;
$thumb-border-color: #ed6a0a;

$track-width: 100%;
$track-height: 6px;
$track-shadow-size: 2px;
$track-shadow-blur: 2px;
$track-shadow-color: #222;
$track-border-width: 1px;
$track-border-color: #dddddd;

$track-radius: 5px;
$contrast: 5%;

.shadow{
	box-shadow: $thumb-shadow-size $thumb-shadow-size $thumb-shadow-blur $thumb-shadow-color lighten($thumb-shadow-color,5%);
}

.track{
	width: $track-width;
	height: $track-height;
	cursor: pointer;
}

.thumb{
	border: $thumb-border-width solid $thumb-border-color;
	height: $thumb-height;
	width: $thumb-width;
	border-radius: $thumb-radius;
	background: $thumb-color;
	cursor: pointer;
}

input[type=range] {
	-webkit-appearance: none;
	margin: ($thumb-height/2) 0;
	width: $track-width;

	&:focus {
		outline: none;
	}

	&::-webkit-slider-runnable-track {
		width: $track-width;
		height: $track-height;
		cursor: default;
		border: $thumb-border-width solid $thumb-border-color;
		height: $thumb-height;
		width: $thumb-width;
		border-radius: $thumb-radius;
		background: $thumb-color;
		background: $track-color;
		border-radius: $track-radius;
		border: $track-border-width solid $track-border-color;
	}

	&::-webkit-slider-thumb {
		/* //border: $thumb-border-width solid $thumb-border-color;
		height: $thumb-height;
		width: $thumb-width;
		border-radius: $thumb-radius;
		background: $thumb-color;
		cursor: pointer;
		-webkit-appearance: none;
		/* margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
		margin-top: -4px; */
	}

	&:focus::-webkit-slider-runnable-track {
		/* background: lighten($track-color, $contrast); */
	}

	&::-moz-range-track {
		background: $track-color;
		border-radius: $track-radius;
		border: $track-border-width solid $track-border-color;
	}
	&::-moz-range-thumb {
		/* border: $thumb-border-width solid $thumb-border-color;
		height: $thumb-height;
		width: $thumb-width;
		border-radius: $thumb-radius;
		background: $thumb-color;
		cursor: pointer; */
	}

	&::-ms-track {
		background: transparent;
		border-color: transparent;
		border-width: $thumb-width 0;
		color: transparent;
	}

	&::-ms-fill-lower {
		background: darken($track-color, $contrast);
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius*2;
	}
	&::-ms-fill-upper {
		background: $track-color;
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius*2;
	}
	&::-ms-thumb {
		border: $thumb-border-width solid $thumb-border-color;
		height: $thumb-height;
		width: $thumb-width;
		border-radius: $thumb-radius;
		background: $thumb-color;
		cursor: pointer;
	}
	&:focus::-ms-fill-lower {
		background: $track-color;
	}
	&:focus::-ms-fill-upper {
		background: lighten($track-color, $contrast);
	}
}